<%= form_with(model: invite) do |form| %>
  <% if invite.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(invite.errors.count, "error") %> prohibited this invite from being saved:</h2>

      <ul>
        <% invite.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :token, style: "display: block" %>
    <%= form.text_field :token %>
  </div>

  <div>
    <%= form.label :createdby, style: "display: block" %>
    <%= form.number_field :createdby %>
  </div>

  <div>
    <%= form.label :usedby, style: "display: block" %>
    <%= form.number_field :usedby %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
