<% content_for :title, "Invites" %>

<h1>Invites</h1>

<table class="table table-sm">
    <thead>
        <th>Token</th>
        <th>Created at</th>
        <th>Created by</th>
        <th>Used by</th>
        <th></th>
    </thead>
    <tbody>
        <% @invites.each do |invite| %>
        <tr>
            <td><%= link_to invite.token, invite.url %></td>
            <td><%= invite.created_at.localtime.strftime("%d.%m.%Y %H:%M") %></td>
            <td><%= invite.createdby %></td>
            <td><%= invite.usedby %></td>
            <td><%= button_to("Destroy", invite, class: 'btn btn-danger', method: :delete) unless invite.usedby %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to "New invite", new_invite_path %>