<h1>Login</h1>

<div class="accordion" id="loginAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        SSO login
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#loginAccordion">
      <div class="accordion-body">
        <%= form_tag(root_url + 'auth/keycloak', method: 'post', data: {turbo: false}) do %>
          <button type='submit' class='btn btn-primary'>Assembly SSO login</button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Password login
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#loginAccordion">
      <div class="accordion-body">
        <p>
        Login with your username and password.
        </p>
        <%=form_tag auth_path do%>
          <div class="mb-3">
            <%=label_tag 'username', 'Username', class: 'form-label' %>
            <%=text_field_tag 'username', '', class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%=label_tag 'password', 'Password', class: 'form-label' %>
            <%=password_field_tag 'password', '', class: 'form-control' %>
          </div>
          <%=submit_tag 'Login with password', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>