<% if @user.disabled? %>
<div class="alert alert-danger" role="alert">
    This user is disabled and cannot login.
</div>
<% end %>

<%= form_with(model: user, class: 'row g-3') do |form| %>
<% if user.errors.any? %>
<div style="color: red">
    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
        <% user.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="row gy-2">
    <div class="col">
        <%= form.label :firstname, 'First name', class: 'form-label' %>
        <%= form.text_field :firstname, class: 'form-control' %>
    </div>
    <div class="col">
        <%= form.label :lastname, 'Last name', class: 'form-label' %>
        <%= form.text_field :lastname, class: 'form-control' %>
    </div>
    <div class="col">
        <%= form.label :nickname, 'Nick', class: 'form-label' %>
        <%= form.text_field :nickname, class: 'form-control' %>
    </div>
</div>

<div class="row gy-2">
    <div class="col-4">
        <%= form.label :displayname, 'Preferred full name (what should be in badge)', class: 'form-label' %>
        <%= form.text_field :displayname, class: 'form-control' %>
    </div>
</div>

<div class="row gy-2">
    <div class="col">
        <%= form.label :street, 'Street', class: 'form-label' %>
        <%= form.text_field :street, class: 'form-control' %>
    </div>
    <div class="col">
        <%= form.label :postalcode, 'Postal code', class: 'form-label' %>
        <%= form.text_field :postalcode, class: 'form-control' %>
    </div>
    <div class="col">
        <%= form.label :postaladdress, 'Postal address', class: 'form-label' %>
        <%= form.text_field :postaladdress, class: 'form-control' %>
    </div>
</div>


<div class="row gy-2">
    <div class="col">
        <%= form.label :email, class: 'form-label' %>
        <%= form.email_field :email, class: 'form-control' %>
    </div>

    <div class="col">
        <%= form.label :phone, class: 'form-label' %>
        <%= form.phone_field :phone, class: 'form-control' %>
    </div>

    <div class="col">
        <%= form.label :birthday, class: 'form-label' %>
        <%= form.date_field :birthday, class: 'form-control' %>
    </div>
</div>

<div class="row gy-2">
    <div class="col-4">
        <%= form.label :title, class: 'form-label' %>
        <%= form.text_field :title, class: 'form-control', disabled: !current_user.admin? %>
    </div>
    <div class="col-4">
        <%= form.label :team, class: 'form-label' %>
        <%= form.text_field :team, class: 'form-control', disabled: !current_user.admin? %>
    </div>
    <div class="col-4">
        <%= form.label :organizerbegin, 'Organizer begin date', class: 'form-label' %>
        <%= form.date_field :organizerbegin, class: 'form-control', disabled: !current_user.admin? %>
    </div>
</div>

<div class="row gy-2">
    <div class="col-4">
        <%= form.label :tshirtsize, 'T-shirt size', class: 'form-label' %>
        <%= form.select :tshirtsize, options_for_select(User.tshirtsizes, user.tshirtsize), {}, class: 'form-control' %>
    </div>
</div>

<div class="row gy-2">
    <div class="col-4">
        <%= form.label :diet, 'Dietary requirements', class: 'form-label' %>
        <%#= form.select :diet, options_for_select(User.dietaryoptions.invert, user.dietoptions), multiple: true, size: 10, class: 'form-control' %>

        <% User.dietaryoptions.each do |id, diet| %>
        <div class="form-check">
            <%= check_box_tag 'user[diet][' + id.to_s + ']', checked: user.dietoptions.include?(id.to_s), class: 'form-check-input' %>
            <%= form.label 'diet_' + id.to_s, diet, class: 'form-check-label' %>
        </div>
        <% end %>
    </div>
    <div class="col-4">
        <%= form.label :dietnotes, 'Dietary requirement notes', class: 'form-label' %>
        <%= form.text_area :dietnotes, class: 'form-control', rows: 5 %>
    </div>
    <div class="col-4">
        <%= form.label :photo, 'Photo', class: 'form-label' %><br />
        <%= image_tag photo_user_path(user), width: '80%' %>
        <%= form.file_field :photo, accept: 'image/png,image/jpeg', class: 'form-control' %>
    </div>
</div>

<%# Hide scary group/event listing for new user %>
<% if user != current_user || Time.now - user.created_at > 30.minutes %>

<div class="row gy-2">
    <div class="col-4">
        <h3>Event participation</h3>
        <% events = user.events.map(&:code) %>
        <% Event.all.order('id desc').each do |ev| %>
        <div class="form-check">
            <%= check_box_tag 'user[events][' + ev.code + ']', checked: events.include?(ev.code), class: 'form-check-input', disabled: !current_user.admin? %>
            <%= form.label 'events_' + ev.code, ev.name, class: 'form-check-label' %>
        </div>
        <% end %>
    </div>
    <% if current_user.admin? %>
    <div class="col-4">
        <h3>Groups</h3>
        <% User.allgroups.each do |grp| %>
        <div class="form-check">
            <%= check_box_tag 'user[groups][' + grp + ']', checked: user&.groups&.include?(grp), class: 'form-check-input', disabled: !current_user.admin? %>
            <%= form.label 'groups_' + grp.gsub(/[,=]/,   '_'), grp.gsub(/,ou=/, ' / '), class: 'form-check-label' %>
        </div>
        <% end %>
    </div>
    <% end %>
</div>

<% end %>


<div style="padding-top: 1rem">
    <%= form.submit  class: 'btn btn-primary' %>
    <% if current_user.admin? %>
    &nbsp;
    <% if user.disabled? %>
    <%= form.submit 'Enable user', class: 'btn btn-success' %>
    <% else %>
    <%= form.submit 'Disable user',  class: 'btn btn-danger' %>
    <% end %>
    <% end %>
</div>
<% end %>