<%=user.lastevent %>&nbsp;
<% if user.in_current_event? %>
<%=button_to raw('<i class="bi bi-x-lg" aria-hidden="true"></i>'), Rails.application.routes.url_helpers.toggle_event_user_path(user, remove:true), remote: true, class: 'btn btn-sm btn-danger', form_class: 'inline' %>
<% else %>
<%=button_to '+' + Event.revshortname(CURRENT_EVENT), Rails.application.routes.url_helpers.toggle_event_user_path(user, add:true), remote: true, class: 'btn btn-sm btn-primary', form_class: 'inline' %>
<% end %>
