<p style="color: green"><%= notice %></p>

<h1>Users</h1>


<div class="toolbar container" id="toolbar">
    <div class="row">
        <div class="col">
            <label for="inactive">
                Inactive:
            </label>
            <select class="form-select filter" style="display: inline-block" id="inactive">
                <option value="hide" selected>Hide</option>
                <option value="all">Show all</option>
                <option value="only">Only</option>
            </select>
        </div>
        <div class="col">
            <label for="team">
                Team (this event):
            </label>
            <select class="form-select filter" style="display: inline-block" id="team">
                <option value="-">-</option>
                <%@teams.sort.each do |team|%>
                <option value="<%=team%>"><%=team%></option>
                <% end %>
            </select>
        </div>
        <div class="col">
            <label for="event">
                Event
            </label>
            <select class="form-select filter" style="display: inline-block" id="event">
                <option value="-">-</option>
                <%@events.each do |event|%>
                <option value="<%=event%>"><%=event%></option>
                <% end %>
            </select>
        </div>
        <!--<button id="foo" class="btn btn-primary">Click me</button>-->
    </div>
</div>

<div id="users">

    <table class="table table-striped table-bordered table-hover table-condensed" id="usertable" data-toggle="table" data-search="true" data-show-columns="true" data-url="<%=users_url%>" data-toolbar="#toolbar" data-show-export="true" data-toolbar="toolbar" data-editable-url="<%=users_url%>" data-id-field="dn" data-editable-emptytext="None">
        <thead>
            <tr>
                <th data-sortable="true" data-field="dn" data-visible="false">DN</th>
                <th data-sortable="true" data-field="namelink">Preferred name</th>
                <th data-sortable="true" data-field="firstname" data-visible="false">First name</th>
                <th data-sortable="true" data-field="lastname" data-visible="false">Last name</th>
                <th data-sortable="true" data-field="nickname">Nick</th>
                <th data-sortable="true" data-field="title" data-editable="true">Title</th>
                <th data-sortable="true" data-field="team" data-editable="true">Team</th>
                <th data-sortable="true" data-field="email" data-visible="false">Email</th>
                <!--<th data-sortable="true" data-field="hetu" data-visible="false">Hetu</th>-->
                <!--<th data-sortable="true" data-field="photook">Photo?</th>-->
                <th data-sortable="true" data-field="tshirtsize">T-shirt</th>
                <!--<th data-sortable="true" data-field="orgbit">Org?</th>-->
                <th data-sortable="true" data-field="bitedit">Event bit</th>
                <th data-sortable="true" data-field="shortgroups">Groups</th>
                <th data-sortable="true" data-field="allevents" data-visible="false">All events</th>
                <th data-sortable="true" data-field="phone" data-visible="false">Phone</th>
                <th data-sortable="true" data-field="birthday" data-visible="false">Birthday</th>
                <th data-sortable="true" data-field="organizerbegin" data-visible="false">Org.begin</th>
                <th data-sortable="true" data-field="address" data-visible="false">Address</th>
                <th data-sortable="true" data-field="state" data-visible="false">State</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    function filterRow(row, filters) {
        inactive = $('#inactive').val();
        if (inactive == 'hide' && row['state'] != 1) {
            return false;
        }
        if (inactive == 'only' && row['state'] != 0 && row['state'] != 2) {
            return false;
        }

        team = $('#team').val();
        if (team != '-' && row['team'] != team) {
            return false;
        }

        event = $('#event').val();
        if (event != '-' && row['allevents'].indexOf(event) == -1) {
            return false;
        }
        return true;
    }

    function filterData() {
        $('#usertable').bootstrapTable('filterBy', {}, {
            filterAlgorithm: filterRow
        });
    }

    $(function() {
        $('.filter').change(function(ev) {
            filterData();
        });

        $('#usertable').bootstrapTable({
            onLoadSuccess: function(data) {
                $('#usertable').bootstrapTable('filterBy', {
                    state: 1
                });
            }
        })
    });
</script>


<%= link_to "New contact", new_contact_path %> |
<%= link_to "Export", export_contacts_path %>