<h1>Welcome to Assembly</h1>

<% if @verified %>
<p>
    In order to get started with Assembly we need to create an user account for you and get some basic details.
</p>
<p>
    Please enter username and password you would like to use with Assembly
</p>

<% @user.errors.each do |error| %>
<div class="alert alert-danger" role="alert">
    <%= error.full_message %>
</div>
<% end %>

<%= form_tag users_path do %>
<%=hidden_field_tag :token, params[:token] %>

<div class="row gy-2">
    <div class="col-4">
        <%= label_tag :username, 'Username', class: 'form-label' %>
        <%= text_field_tag :username, '', class: 'form-control' %>
    </div>
    <div class="col-4">
        <%= label_tag :password, 'Password', class: 'form-label' %>
        <%= password_field_tag :password, '', class: 'form-control' %>
    </div>
</div>

<div style="padding-top: 1rem">
    <%= submit_tag 'Create', class: 'btn btn-primary' %>
</div>
<% end %>
<% else %>
<p>
    The token code you gave is invalid. Please contact your recruiter again for new token.
</p>
<%=form_tag new_user_path, method: :get do %>
<div>
    <%= label_tag :token, 'Token', class: 'form-label' %>
    <%= text_field_tag :token, '', class: 'form-control' %>
</div>
<%= submit_tag 'Try again', class: 'btn btn-primary' %>
<% end %>
<% end %>