<h1>Food allergies in <%=@event.name%></h1>

<h2>Generic allergies</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <%@allergies.sort.each do |a, c| %>
    <tr>
    <td><%=a%></td>
    <td><%=c%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>Specific notes</h2>
<ul>
<% @dietnotes.sort.each do |d| %>
    <li><%=d%></li>
<% end %>
</ul>