<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.sort.reverse.each do |event| %>
      <tr class="<%=event.id == CURRENT_EVENT_ID ? 'table-warning' : ''%>">
        <td><%= event.code %></td>
        <td><%= event.name %></td>
        <td><%= link_to 'Allergies', allergies_event_path(event) %></td>
        <td><%= link_to 'Stats', stats_event_path(event) %></td>
        <td><%= link_to 'Organizers', organizers_event_path(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
