<h1>Stats for <%=@event.name%></h1>
<!--
Select event: <%=select_tag 'event', options_from_collection_for_select(Event.all, :id, :name, @event.id), onchange: "window.location.href = '#{events_path}/'+$(this).val()+'/stats';" %>
<br />
<br />
-->

<div class="row">
<div class="col-5">
  <h2>Groups</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Group</th>
        <th>Members</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <%@groups.sort.each do |g,c|%>
        <tr>
          <td><%=g%></td>
          <td><div class="bg-primary" style="padding-left: 1ex; width: <%=c/2%>ex;"><%=c%></div></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot class="table-group-divider">
      <tr>
        <td>Total</td>
        <td><%=@event.users.count%></td>
      </tr>
    </tfoot>
  </table>
  </div>
<div class="col-2">
</div>
<div class="col-5">
  <h2>Age</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Age</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <%@ages.sort.each do |g,c|%>
        <tr>
          <td><%=g%></td>
          <td><div class="bg-primary" style="padding-left: 1ex; padding-right: 1ex; width: <%=c%>ex;"><%=c%></div></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot class="table-group-divider">
      <tr>
        <td>Total</td>
        <td><%=@event.users.count%></td>
      </tr>
      <tr>
        <td>Average</td>
        <td><%=@avgage.round(2)%></td>
      </tr>
    </tfoot>
  </table>
</div>
</div>

<div class="row">

<div class="col-5">
<h2>Postal addresses</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Users</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <%@postaddr.sort_by{|a,b| a||''}.each do |g,c|%>
        <tr>
          <td><%=g%></td>
          <td><div class="bg-primary" style="padding-left: 1ex; padding-right: 1ex; width: <%=c/2%>ex;"><%=c%></div></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-2">
</div>

<div class="col-5">
<h2>Postal code</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Users</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <%@postcode.sort_by{|a,b| a||''}.each do |g,c|%>
        <tr>
          <td><%=g%></td>
          <td><div class="bg-primary" style="padding-left: 1ex; padding-right: 1ex; width: <%=c%>ex;"><%=c%></div></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>
