<h1>Editing contact</h1>

<%= form_with(model: @ticket) do |form| %>
  <% if @ticket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% @ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :desc, style: "display: block" %>
    <%= form.text_field :desc %>
  </div>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>
  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_field :notes, size: 50 %>
  </div>

  <div>
    <%= form.label :redeemed_at, style: "display: block" %>
    <%= form.text_field :redeemed_at %>
  </div>
  <div>
    <%= form.label :redeemed_by, style: "display: block" %>
    <%= form.text_field :redeemed_by %>
  </div>

  <div>
    <br />
    <%= form.submit 'Save changes', class: 'btn btn-primary' %>

    <%=link_to(button_tag('Mark as not redeemed', type: 'button', class: 'btn btn-warning'), search_friendtickets_path(cancel: @ticket.id), method: :post) %>
  </div>
<% end %>
