<h1>My tickets</h1>
<%=form_tag friendtickets_own_path do %>
<table class="table table-condensed table-striped">
  <tr>
    <th>Code</th>
    <th>Desc</th>
    <th>Redeemed at</th>
    <th>Notes</th>
  </tr>
  
<%@tickets.each do |tix| %>
  <tr>
    <td><%=tix.code%></td>
    <td><%=tix.desc%></td>
    <td><%=tix.redeemed_at&.strftime("%d.%m.%Y %H:%M")%></td>
    <td><%=text_field_tag "notes[#{tix.id}]", tix.notes, size: 50%></td>
  </tr>
<% end %>
</table>
<%=submit_tag 'Save'%>
<% end %>

<br />
You can add your own notes to friend tickets, for example to whom you have given the ticket.
