<h1>Friend ticket management</h1>
<% if current_user.access_friendtickets? %>
<%=form_tag search_friendtickets_path, method: :post do %>
  Search 
  <%=text_field_tag 'search', params[:search] %>

  <%=submit_tag 'Search'%>
  <br />
<% end %>

<% if @tickets %>
<table class="table table-condensed table-striped">
  <tr>
    <th>Org</th>
    <th>Nick</th>
    <th>Ticket code</th>
    <th>Type</th>
    <th>Redeemed at</th>
    <th>Redeemed by</th>
    <th>Notes</th>
    <th>!</th>
  </tr>
  <%@tickets.each do |tix|%>
    <tr>
      <td><%=tix.user.displayname%></td>
      <td><%=tix.user.nickname%></td>
      <td><%=tix.code%></td>
      <td><%=tix.desc%></td>
      <td><%=tix.redeemed_at&.localtime&.strftime("%Y-%m-%d %H:%M") if (tix.redeemed_at&.year || 0) > 2000%></td>
      <td><%=tix.redeemed_by%></td>
      <td><%=tix.notes%></td>
      <td>
        <%=link_to(button_tag('Redeem ticket', type: 'button', class: 'btn btn-danger'), search_friendtickets_path(redeem: tix.id, search: params[:search]), method: :post) if tix.redeemed_at.nil? %>
        <%=link_to(button_tag('Cancel', type: 'button', class: 'btn btn-warning'), search_friendtickets_path(cancel: tix.id, search: params[:search]), method: :post) if tix.redeemed_at && (Time.now - tix.redeemed_at) < 60.seconds%>
        <%=link_to(button_tag('Edit', type: 'button', class: 'btn btn-info'), friendtickets_edit_path(id: tix.id), method: :get) if current_user.admin? %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>
<% else %>
  No access
<% end %>
