<h1>Stats</h1>
<div class="container">
  <div class="row">
    <div class="col col-lg-6">
      <table class="table table-striped table-condensed">
        <%
            daynames = %w[Sun Mon Tue Wed Thu Fri Sat Sun]
            days = %w[Thu Fri Sat Sun]
        %>
        <tr>
          <th>Event</th>
          <% days.each do |d| %>
            <th><%=d%></th>
          <% end %>
          <th>Total</th>
        </tr>


        <%@stats.each do |event,data|%>
          <%data.each do |type,counts|%>
          <tr>
            <td><%=event%> <%=type%></td>
            <% days.each do |d| %>
            <td><%=counts[d]%></td>
            <% end %>
            <td><%=counts[:total]%></td>
          </tr>
        <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
