<%= form_with(model: info_log, class: "row") do |form| %>
<% if info_log.errors.any? %>
<div style="color: red">
    <h2><%= pluralize(info_log.errors.count, "error") %> prohibited this info_log from being saved:</h2>

    <ul>
        <% info_log.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="row gy-2">
    <div class="col">
        <%= form.label :state, class: "form-label" %>
        <%= form.select :state, options_for_select(InfoLog.stateselect, info_log.state), {}, class: 'form-select' %>
        <%= form.checkbox :remember, class: "form-check-input" %>
        <%= form.label :remember, 'Remember this', class: "form-check-label" %>
    </div>

    <div class="col">
        <%= form.label :entrytime, class: "form-label" %>
        <%= form.datetime_field :entrytime, class: "form-control" %>
    </div>
</div>


<div class="row gy-2">
    <div class="col">
        <%= form.label :contactinfo, 'Person', class: "form-label" %>
        <%= form.text_field :contactinfo, class: "form-control" %>
    </div>
</div>

<div class="row gy-2">
    <div class="col">
        <%= form.label :description, class: "form-label" %>
        <%= form.textarea :description, class: "form-control" %>
    </div>
</div>

<div class="row gy-2">
    <div class="col">
        <%= form.label :solution, class: "form-label" %>
        <%= form.textarea :solution, class: "form-control" %>
    </div>
</div>

<div class="row gy-2">
    <div class="col">
        <%= form.submit 'Save entry', class: 'btn btn-primary' %>
    </div>
</div>
<% end %>