<% content_for :title, "Lost items" %>

<div class="toolbar container" id="toolbar">
    <div class="row">
        <div class="col">
            <label for="state">
                State
            </label>
            <select class="form-select filter" style="display: inline-block" id="state">