<h1>Party after party!</h1>
<p class="lead">
    If you didn't get enough partying for now you can come in for some more.
</p>

<p>
    Afterparty for Winter 2025 will be held in <a href="https://caveentertainment.fi/juhlatila/">Game Cave</a> on Saturday
    8.3.2025 from 16:00 onwards. Cave is located in basement floor of <a href="https://www.google.fi/maps/@60.1794764,24.8291855,3a,75y,248.45h,75.28t/data=!3m7!1e1!3m5!1sXlDoHO9Gpv3YcVhJOBUvfw!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D14.718508956052972%26panoid%3DXlDoHO9Gpv3YcVhJOBUvfw%26yaw%3D248.44691996816346!7i16384!8i8192?entry=ttu&g_ep=EgoyMDI1MDIxOC4wIKXMDSoASAFQAw%3D%3D">Kivimiehentie 2</a> in Otaniemi.
    (Same building as Forenom, entrance is on the side of the building direct from Kivimiehentie)
</p>

<p>
    It is good idea to bring slippers/inside shoes because the floor is cold. There is also sauna so bring a towel if you want to enjoy.
</p>

<%=form_tag signup_afterparty_path do%>
<div class="form-check">
    <%=check_box_tag 'participate', '1', @meta['party']&.positive? %>
    <%=label_tag 'participate', 'I want to participate in afterparty' %> (<%=@signups['party']&.count%>/<%=@limits[:party]%> signups)<br />
</div>
<!--
<div class="form-check">
    <%=check_box_tag 'bus1', '1', @meta['bus1']&.positive? %>
    <%=label_tag 'bus1', 'I need a bus ride to the afterparty. Bus leaves from Helsinki at 14:00.' %> (<%=@signups['bus1']&.count%>/<%=@limits[:bus1]%> signups)<br />
</div>
<div class="form-check">
    <%=check_box_tag 'bus2', '1', @meta['bus2']&.positive? %>
    <%=label_tag 'bus2', 'I need a bus ride back from the afterparty. Bus leaves from party place at 00:00.' %> (<%=@signups['bus2']&.count %>/<%=@limits[:bus2]%> signups)<br />
</div>
-->
<%=submit_tag 'Sign up', class: 'btn btn-primary' %>

<% end %>

<br />

<%
def posinfo(type)
    return "#" + @pos[type].to_s + (@pos[type] > @limits[type]? ' ' + content_tag(:span, "(you're on the waiting list)", class: 'badge text-bg-danger') : "") if @pos[type]

    "Not signed up"
end
%>

<h3>Your position in the signup</h3>
<ul>
    <li>Afterparty: <%=raw posinfo :party %> </li>
    <!--
    <li>Bus to party: <%=raw posinfo :bus1 %></li>
    <li>Bus from party to Helsinki: <%=raw posinfo :bus2 %></li>
    -->
</ul>

<h2>Party people</h2>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-3">
    <% @party.users.sort_by{|u|@usermeta.dig(u,'party')}.each do |u| %>
    <div class="col">
        <div class="card mb-2">
            <div class="row g-0">
                <div class="col-md-4">
                    <%= image_tag photo_user_path(u), class: 'img-fluid rounded-start', style: 'width: 8em' %>
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title"><%= u.nickname %></h5>
                        <p class="card-text"><%=u.displayname%></p>
                        <p class="card-text"><small class="text-body-secondary"> <%=u.title%> </small></p>
                    </div>
                </div>
                <div class="col-md-1 text-end">
                    <% if @usermeta.dig(u, 'bus1')&.positive? %>
                    <%= image_tag 'bus1.svg', style: 'width: 3em;', class: 'pt-2 px-2', alt: 'Bus to party', title: 'Bus to party' %>
                    <% end %>
                    <% if @usermeta.dig(u, 'bus2')&.positive? %>
                    <%= image_tag 'bus2.svg', style: 'width: 3em;', class: 'pt-2 px-2', alt: 'Bus back to Helsinki', title: 'Bus back to Helsinki' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <% if @usermeta.dig(u, 'party') == @last %>
</div>
<hr />
<h3>Waiting list</h3>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-3">
    <% end %>

    <% end %>
</div>