<%@contacts.each do |c| %>
BEGIN:VCARD
VERSION:4.0
<% if c.user %>
FN:<%=c.user.displayname%> (Assembly <%=c.title%>)
N:<%=c.user.lastname%>;<%=c.user.firstname%>;;;
TEL;TYPE=cell:<%=c.user.phone || c.phone%>
NICKNAME:<%=c.user.nickname%>
<% else %>
FN:Assembly <%=c.title%>
TEL;TYPE=cell:<%=c.phone%>
NICKNAME:<%=c.user.nickname%>
ORG:Assembly
<% end %>
END:VCARD
<% end %>
