<%= form_with(model: lost_item, class: "row") do |form| %>
<% if lost_item.errors.any? %>
<div style="color: red">
    <h2><%= pluralize(lost_item.errors.count, "error") %> prohibited this lost_item from being saved:</h2>

    <ul>
        <% lost_item.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="row gy-2">
    <div class="col">
        <%= form.label :entrytime, class: "form-label" %>
        <%= form.datetime_field :entrytime, class: "form-control" %>
    </div>

    <div class="col">
        <%= form.label :state, class: "form-label" %>
        <%= form.select :state, options_for_select(LostItem.stateselect, lost_item.state), {}, class: 'form-select' %>
    </div>

</div>

<div class="row gy-2">
    <div class="col">
        <%= form.label :location, class: "form-label" %>
        <%= form.text_field :location, class: "form-control" %>
    </div>

    <div class="col">
        <%= form.label :contactinfo, "Contact information", class: "form-label" %>
        <%= form.text_field :contactinfo, class: "form-control" %>
    </div>
</div>

<div class="row gy-2">
    <div class="col">
        <%= form.label :description, class: "form-label" %>
        <%= form.textarea :description, class: "form-control" %>
    </div>
</div>

<div class="row gy-4">
    <div class="col">
        <%= form.submit 'Update item', class: 'btn btn-primary' %>
    </div>
</div>
<% end %>