<% content_for :title, "Editing lost item" %>

<h1>Editing item</h1>

<%= render "form", lost_item: @lost_item %>

<br>

<div>
    <%= button_to "Destroy this item", @lost_item, method: :delete, class: 'btn btn-danger', confirm: 'Really delete?' %>
    <%= link_to "Back to items", lost_items_path %>
</div>