<% content_for :title, "Lost items" %>

<div class="toolbar container" id="toolbar">
    <div class="row">
        <div class="col">
            <label for="state">
                State
            </label>
            <select class="form-select filter" style="display: inline-block" id="state">
                <option value="-" selected>-</option>
                <option value="lost">Lost</option>
                <option value="found">Found</option>
                <option value="closed">Closed</option>
            </select>
        </div>
        <div class="col">
            <label for="event">
                Event
            </label>
            <select class="form-select filter" style="display: inline-block" id="event">
                <option value="-">-</option>
                <%@events.each do |event|%>
                <option value="<%=event%>" <%='selected' if event == Event.find(CURRENT_EVENT_ID).shortname %>><%=event%></option>
                <% end %>
            </select>
        </div>
    </div>
</div>

<div id="users">

    <table class="table table-striped table-bordered table-hover table-condensed" id="datatable" data-toggle="table" data-search="true" data-show-columns="true" data-url="<%=lost_items_url%>" data-toolbar="#toolbar" data-show-export="true" data-toolbar="toolbar" data-editable-url="<%=lost_items_url%>" data-id-field="id" data-editable-emptytext="None" data-auto-refresh="true">
        <thead>
            <tr>
                <th data-sortable="true" data-field="id" data-visible="false">ID</th>
                <th data-sortable="true" data-field="remember" data-visible="false">Remember</th>
                <th data-sortable="true" data-field="eventname" data-visible="false">Event</th>
                <th data-sortable="true" data-field="state_with_icon">State</th>
                <th data-sortable="true" data-field="formatted_entrytime">Entry time</th>
                <th data-sortable="true" data-field="contactinfo_html" data-editable="true">Contact info</th>
                <th data-sortable="true" data-field="description_html" data-editable="true">Description</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    function filterRow(row, filters) {
        state = $('#state').val();
        if (state == 'lost' && row['state'] != 0) {
            return false;
        }
        if (state == 'found' && row['state'] != 1) {
            return false;
        }
        if (state == 'closed' && row['state'] != 2) {
            return false;
        }

        event = $('#event').val();
        if (event != '-' && row['eventname'] != event) {
            return false;
        }
        return true;
    }

    function filterData() {

        $('#datatable').bootstrapTable('filterBy', {}, {
            filterAlgorithm: filterRow
        });
    }

    $(function() {
        $('.filter').change(function(ev) {
            filterData();
        });

        $('#datatable').bootstrapTable({
            onLoadSuccess: function(data) {
                $('#usertable').bootstrapTable('filterBy', {
                    eventname: '<%=CURRENT_EVENT%>'
                });
            }
        })
    });
</script>

<%= link_to "New item", new_lost_item_path %>